
			@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
			#backgroundVideo {
				position: fixed;
				right: 0;
				bottom: 0;
				min-width: 100%;
				min-height: 100%;
			}
			html {
				scroll-behavior: smooth;
				background-color: cornflowerblue;
			}
			.content {
				position: relative;
				background-color: #b69b57;
				background-image: url("../media/light-paper-fibers.png");
				padding: 20px;
				margin: auto;
				margin-top: 1em;
				width: 80%;
				padding: 25px;
				font-family: 'Nunito', sans-serif;
			}
			.subtitle {
				position: relative;
				bottom: 1.32em;
				text-align: center;
			}
			h1 {
				text-align: center;
				text-shadow: 0 0 10px black;
			}
			h2 {
				text-align: center;
				position: relative;
				margin: -0.25em;
			}
			h3 {
				text-align: center;
				position: relative;
			}
			p {
				overflow-wrap: break-word;
			}
			input[type=textarea] {
				border: 0em;
				text-align: center;
				width: 85%;
				background: none;
				font-family: 'Nunito', sans-serif;
			}
			label {
				display: none;
			}
			.detailBox {
				box-shadow: 0 0 8px 10px rgba(0, 0, 0, 0.2);
				width: 80%;
				display: block;
				margin: auto;
				margin-top: 0.5em;
				margin-bottom: 1em;
				padding: 0.1px 1em;
			}
			.boxNum {
				float: right;
				position: relative;
				top: 0.25em;
				left: 0.5em;
				font-size: 0.75em;
				color: #6d5d34;
			}
			.boxContents {
				overflow-wrap: break-word;
				display: none;
				font-size: 0.75em;
				position: relative;
				bottom: 0.75em;
				width: 100%;
			}
			.boxSummary {
				text-align: center;
				position: relative;
				bottom: 1em;
			}
			.visible {
				display: block;
			}
			.column > img {
				display: block;
				width: 80%;
				margin: auto;
				margin-bottom: 1em;
				mix-blend-mode: multiply;
				max-width: 27.5em;
				height: auto;
			}
			.column {
				float: left;
				margin-bottom: -0.5em;
			}
			.row:after {
				content: "";
				display: table;
				clear: both;
			}
			.card {
				background-color: dimgray;
				margin-top: 1em;
				padding-top: 1em;
				padding-bottom: 1em;
			}
			h5 {
				background-color:slategray;
				position: relative;
				text-align: center;
				width: 90%;
				margin: auto;
				font-size: 1.25em;
			}
			.card > img {
				width: 90%;
				display: block;
				margin: auto;
				height: auto;
			}
			@media screen and (min-width: 1200px) {
			.column {
				width: 50%;
			}
			.card {
				width: 25%;
				float: right;
			}
		}